.inline{
    display:inline-block;
}

.inline-button{
    outline: none;
}

.button_link {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: none;
    cursor: pointer;
}

.button_link:hover {
    text-decoration: underline;
}